section.advantage
	.container 
		.advantage_title 
			h3.advantage_title-head.headline-3 ПРЕИМУЩЕСТВА <span class="no-wrap">G-SYNC</span>
			p.advantage_title-text.
				Каждый монитор с технологией <span class="no-wrap">G-SYNC</span> проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию <span class="no-wrap">G-SYNC.</span>
    
		.advantage_items 
			.advantage_item
				.advantage_ic-wrap 
					.advantage_ic.advantage_ic__border 
						svg.ic_border
							use(xlink:href="img/sprite.svg#ic_items-border")
					.advantage_ic.advantage_ic__in 
						svg.ic_in
							use(xlink:href="img/sprite.svg#ic_item-1") 

				.advantage_title-wrap 
					span.headline-3.advantage_title__green HDR
					span.headline-3 Display

				p.advantage_text.
					Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

			.advantage_item
					.advantage_ic-wrap 
						.advantage_ic.advantage_ic__border 
							svg.ic_border
								use(xlink:href="img/sprite.svg#ic_items-border")
						.advantage_ic.advantage_ic__in 
							svg.ic_in
								use(xlink:href="img/sprite.svg#ic_item-2") 

					.advantage_title-wrap 
						span.headline-3.advantage_title__green INPUT
						span.headline-3 LAG

					p.advantage_text.
						Мониторы с технологией <span class="no-wrap">G-SYNC</span> обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.

			.advantage_item
				.advantage_ic-wrap 
					.advantage_ic.advantage_ic__border 
						svg.ic_border
							use(xlink:href="img/sprite.svg#ic_items-border")
					.advantage_ic.advantage_ic__in.advantage_ic__3
						svg.ic_in
							use(xlink:href="img/sprite.svg#ic_item-3") 

				.advantage_title-wrap 
					span.headline-3.advantage_title__green HIGH
					span.headline-3 REFRESH RATE

				p.advantage_text.
					NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.

			.advantage_item
					.advantage_ic-wrap 
						.advantage_ic.advantage_ic__border 
							svg.ic_border
								use(xlink:href="img/sprite.svg#ic_items-border")
						.advantage_ic.advantage_ic__in 
							svg.ic_in
								use(xlink:href="img/sprite.svg#ic_item-4") 

					.advantage_title-wrap 
						span.headline-3.advantage_title__green WIDE
						span.headline-3 COLOR GAMUT

					p.advantage_text.
						Современные мониторы <span class="no-wrap">G-SYNC</span> ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.



		a(href='#helloModal' data-toggle="modal" class="button") Купить
